.contentWelcome{
    padding-top: 120px;
    text-align: center;
}

.contentWelcomeImg{
    width: 360px;
}

.contentWelcomeTitle{
    color: #47057D;
    font-size: 36px;
    line-height: 16px;
}

.contentWelcomeBody{
    color: #1b1b1b;
    line-height: 26px;
    font-size: 18px;
}

@media screen and (min-width:768px) {
    .contentWelcome{
        padding-top: 10px;
    }

    .contentWelcomeBody{
        margin: auto;
        width: 80%;
    }
}
