.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App Body */

body {
  background-color: #F5F5F5;
  margin: 0;
}

.appHeader {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-around;
}


footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #47057D;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  
  
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #F5F5F5;
  font-family: poppins, 'poppins';
  padding: 5px 0;
  font-size: 13px;
}

.icon {
  color: #F5F5F5;
  margin-bottom: 4px;
  font-size: 22px;
}

.active {
  color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #F39650;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #F39650;
}
::-webkit-scrollbar-track {
  background: #24233b;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
